body {
    background-color: #eaf3b5;
}
#title {
    color: coral;
    margin: auto;
    width: auto;
    border: 3px solid coral;
    font-family: "Lucida Console", "Courier New", monospace;
}
#subtitle {
    color: #7f1e83;
    size: 20px;
}
.center {
    margin: auto;
    align: center;
    width : 50%;
    padding: 10px;
}