body {
    background-color: #000000;
    color: #28f032;
    font-family: 'Fira Sans', monospace;
}
#title {
    color: coral;
    margin: auto;
    width: square;
    border: 3px solid coral;
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 2px 2px 4px #ffffff;
}
#subtitle {
    color: #7f1e83;
    size: 20px;
}

@keyframes rainbow {
    0% {
        color: #ff0000;
    }
    20% {
        color: #ff7f00;
    }
    40% {
        color: #ffff00;
    }
    60% {
        color: #00ff00;
    }
    80% {
        color: #0000ff;
    }
    100% {
        color: #ff00ff;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.actuallybutton {
    background-color:#000000;
    font-size: 30px;
    color:#00ff00;
    border: 2px solid #00ff00;
    font-family: 'VT323', monospace;
    margin: 10px;
}

.center {
    margin: auto;
    justify-content: center;
    font-family: 'VT323', monospace;
    display: flex;
    align-items: center;
    flex-direction: column;
    width : 50%;
    padding: 10px;
    text-align: center;
}

#hackz {
    color: #d4062c;
    text-decoration:underline;
    text-underline-offset: 5px;
}

.content {
    color: #4af51b;
    font-family: 'Doto', monospace;
    text-align: center;
}