:root {
    --gus-color: #eb2c47;
    --sebastian-color: #f29901;
    --meghana-color: #05df72;
    --alex-color: #eb4432;
    --sofia-color: #a8caff;
    --lou-color: #747272;
    --gabriel-color: #4039a0;
    --diamond-scale: 6%;
}

body {
    background-color: #000000;
    color: #28f032;
    font-family: 'VT323', monospace;
}

@keyframes scanlines {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -10px;
    }
}

.terminal-background {
    background: linear-gradient(to top, #000000, #000000, #333333, #333333);
    background-size: contain;
    background-size: auto 10px;
    animation-name: scanlines;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#title {
    color: palevioletred;
    margin: auto;
    margin-bottom: 2rem;
    width: square;
    border: 1px dashed maroon;
    font-family: "VT323", "Courier New", monospace;
    text-shadow: 2px 2px 2px #8b217c;
}
#subtitle {
    color: #7f1e83;
    size: 20px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    font-family: 'VT323', monospace;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.friendbox {
    margin-top: 4%;
    padding-bottom: 0;
    min-height: 5%;
    min-width: 30%;
    border: 10px solid hsl(115, 100%, 50%);
}

/* Styling for links to my friends' sites*/
.friendbox a {
    color: hsl(55, 96%, 56%);
}

/* Styling for subtitles within friendboxes */
.friendbox > h6 {
    color: #DDDDDD;
    font-size: 14px;
}

@keyframes diagonal-shift {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100px 200px;
    }
}

/* Applying specific border colors and decorations based on id */
#gus {
    border-color: var(--gus-color);
    background-image: url("data/diamond.svg");
    background-repeat: repeat;
    background-size: var(--diamond-scale);
    animation: diagonal-shift 3s linear infinite;
}

#machine:hover {
    color: var(--gus-color);
}

#sebastian {
    border-color: var(--sebastian-color);
    position: relative;
    overflow: hidden;
}

#meghana {
    border-color: var(--meghana-color);
}

#alex {
    border-color: var(--alex-color);
    position: relative;
    background-color: #000;
}

#sofia {
    border-color: var(--sofia-color);
}

#lou {
    border-color: var(--lou-color);
}

#gabriel {
    border-color: var(--gabriel-color);
}